@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");

@import "static";
@import "header";
@import "hero";
@import "triangularButton";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body {
  background-color: $color6;
  overflow-x: hidden;
}

// .disableBtn {
//   background-color: rgb(191, 191, 191) !important;
//   color: $color6 !important;
//   cursor: not-allowed !important;
// }

// #customMsg {
//   font: 900 2rem $text2;
//   width: 100%;
//   height: 100vh;
//   display: grid;
//   place-items: center;
// }
