.container-hero {
  width: 100%;
  height: 200vh;
  position: relative;
  > .banner {
    width: 100%;
    height: calc(100vh + 50px);
    position: sticky;
    top: 99px;
    background-color: $hcolor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 3.5vw;
    font-weight: 500;
    align-items: center;
    color: $color6;
    padding-bottom: 10vh;
    h1 {
      letter-spacing: 7px;
    }
  }
  > .hero {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: $color1;
    padding: $p;
    top: 70px;
    > .hero-overlay {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      > .h2 {
        font-size: 5rem;
        font-weight: 600;
        letter-spacing: 3px;
      }
      > .typewriter {
        font-size: 5rem;
        letter-spacing: 2px;
        color: white;
      }
    }
  }
}
