$color1: #d8f8f8;
$color2: #0c5959;
$color3: #052929;
$color4: #e9fbfb;
$hcolor: #ff6f20;

$color6: #161616;
$color6_1: hwb(0 0% 100%);

$p: 18.37vmax;
$p_head: 3.37vmax;
$p_base: 5vmax;
$p_navBtn: 0.9rem 2.4rem;
