$color1: #d8f8f8;
$color2: #0c5959;
$color3: #052929;
$color4: #e9fbfb;
$color_l: #1a73e8;
$hcolor: #ff6f20;

$color6: #161616;
$color6_1: hwb(0 0% 100%);

$p: 14.37vmax;
$p_head: 3.37vmax;
$p_base: 5vmax;
$p_navBtn: 0.9rem 2.4rem;
$p_hero: 11vmax;

$text1: "Roboto", sans-serif;
$text2: "Open Sans", sans-serif;
$text3: "Caveat";

$g: 50px;
