#triBtn > a {
  position: relative;
  display: inline-block;
  width: 160px;
  height: 50px;
  box-shadow: 0 5px 25px $color3;
  //   box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
  > span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: $color1;
    // background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    background: $color2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
    &:nth-child(2) {
      //   color: #6c4ba5;
      color: $color2;
      background: $color1;
      overflow: hidden;
      z-index: 2;
      transition: 0.5s;
      clip-path: polygon(60% 0, 100% 0%, 100% 100%, 60% 100%, 40% 53%);
      &:hover {
        border: 2px solid $color2;
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%, 0 50%);
      }
    }
    &:nth-child(1):hover {
      border: 1px solid $color1;

      ~ span:nth-child(2) {
        clip-path: polygon(100% 0, 100% 0%, 100% 100%, 100% 100%, 100% 50%);
      }
    }
  }
}
